extends  layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="img torre nosotros", class="img-fluid")
            .col-md-7.mt-1
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis, lectus eget ornare fringilla, libero libero commodo tellus, non lacinia lectus ligula eget turpis. Donec purus mauris, lobortis in ullamcorper ut, porttitor sit amet metus. Pellentesque vitae felis non nibh malesuada tempor. Fusce tincidunt libero ut tellus efficitur iaculis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut ipsum nisi. Praesent egestas, justo vel bibendum ultricies.

                p  Duis laoreet eget nisi id bibendum. Maecenas consectetur a nisi sed varius. Vestibulum vehicula urna justo, ut rutrum eros sagittis at. Aenean convallis metus in arcu efficitur fermentum. Phasellus sit amet metus nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean rutrum nisi at pharetra maximus.

                p Proin consequat ipsum quis tortor lobortis accumsan. Proin cursus et lacus at gravida. Maecenas sit amet odio dui. Vestibulum tincidunt aliquam mi, ut tempus enim dapibus consequat. Fusce mi neque, venenatis vitae metus ac, mattis faucibus lorem. Mauris tempus vulputate leo, eget pretium est elementum et.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Covertura Total
                    p Proin consequat ipsum quis tortor lobortis accumsan. Proin cursus et lacus at gravida. Maecenas sit amet odio dui. Vestibulum tincidunt aliquam mi, ut tempus enim dapibus consequat.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Destinos Unicos
                    p Proin consequat ipsum quis tortor lobortis accumsan. Proin cursus et lacus at gravida. Maecenas sit amet odio dui. Vestibulum tincidunt aliquam mi, ut tempus enim dapibus consequat.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h3.mb-4 Precios Accecibles
                    p Proin consequat ipsum quis tortor lobortis accumsan. Proin cursus et lacus at gravida. Maecenas sit amet odio dui. Vestibulum tincidunt aliquam mi, ut tempus enim dapibus consequat.

